.HeroDetailBox{
    display: inline-block;
    border-radius:15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0 0 1em 0; 
    
}

.IdDetails{
    margin-top: 1em;
    margin-left: 1em;
}

.NameDetails{
    margin-left: 1em; 
}

.NameDisplay{
    line-height: 40px;
    margin-left: 15px;
    color: white;
}

.upper-box{
    background-color: rgb(116, 51, 153);
    height: 40px;
    width: 350px;
    border-radius:15px 15px 0 0;
    
}